#universe {
    width: 500px;
    height: 500px;
}
#universe,
#universe td {
    border: 1px solid #eee;;
    border-collapse: collapse;
}
#universe td.cell.alive {
    background-color: GreenYellow ;
}
