#gol {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
}
#gol td.cell {
  border: 1px solid #eee;
}
#gol td.cell.alive {
  border: 1px solid olivedrab;
  background-color: GreenYellow;
}

#controlsContainer #genCounterSpan,
#controlsContainer #livingCellsCounterSpan {
  font-weight: bold;
}
#controlsContainer #nextGenButton,
#controlsContainer #autoplayBtn {
  min-width: 45px;
  height: 30px;
}

#controlsContainer {
  display: flex;
}
