#gol {
  width: 500px;
  height: 500px;
  background-color: #ededed;
}
#gol td.cell {
  border: 2px solid #d8d7d7;
}
#gol td.cell.alive {
  border-color: #0b6c0b;
  background-color: #5bbe5b;
}

#dataAndControlsContainer {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
#dataContainer #genCount,
#dataContainer #livingCellsCount {
  font-weight: bold;
}
#timeControlContainer button {
  cursor: pointer;
  min-width: 50px;
}
